<section>
  <div id="model">
    <div id="circle"></div>
    <app-orbit [stylesCircle]="{'left':'2rem', 'marginTop': '30rem','transform': 'rotate(-15deg)'}"></app-orbit>
    <img src="../../../../assets/imgs/person-3.png" alt="">
  </div>
  <div id="text">
    <h3>Why <span>us .</span></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua Quis ipsum suspendisse consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua Quis ipsum suspendisse.</p>
    <button>READ MORE</button>
    <span id="explore">EXPLORE</span>
  </div>
</section>
