<section>
  <div id="first-piece">
    <p>UI<span>.</span></p>
    <p>BEGINNER's</p>
    <div>
      <span>.</span
      ><span
        >BECOME A<br />
        PRO-DESIGNER</span
      >
    </div>
  </div>
  <div id="center-piece">
    <div id="circle"></div>
    <img src="assets/imgs/person-1.png" />
  </div>
  <div id="last-piece">
    <div id="card-edition">
      <div class="card">
        <p>EDITION</p>
        <p>2022</p>
      </div>
    </div>
    <div id="text-begin">
      <p>START GUIDE FOR BEGINNER DESIGNERS</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore .
      </p>
    </div>
    <div id="buttons">
      <button>LET'S START</button>
      <button>READ MORE</button>
    </div>
  </div>
</section>
