<section>
<div id="about">
<h3>About</h3>
<p *ngFor="let section of aboutSections">{{section}}</p>
</div>
<div id="do">
  <h3>What we do</h3>
  <p *ngFor="let section of whatWeDoSections">{{section}}</p>
</div>
<div id="signup">
  <h3>Sign Up To Receive <span>___  Our Newsletter</span></h3>
</div>
<div id="icons">
  <p>Follow us !</p>
  <img src="../../../../assets/imgs/icons/facebook.png" alt="">
  <img src="./../../../assets/imgs/icons/instagram.png" alt="">
  <img src="./../../../assets/imgs/icons/youtube.png" alt="">
</div>
</section>
